:root {
  font-size: 60%; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body, #root {
  height: 100vh;
}

body {
  background-color: #E6E6F0;
}

body,
input,
button,
textarea {
  font:400 1.6rem Poppins;
}

@media (min-width: 700px) {
  :root {
      font-size: 62.5%;
  }
}
